.auth_form {
  height: calc(100vh - 70px);
  display: grid;
  justify-content: center;
  align-content: start;
  background-color: var(--white);
  color: var(--black);
  padding: 50px;
}

.title {
  font-size: 28px;
  max-width: 600px;
}

.form {
  width: 375px;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  gap: 30px;
  background-color: var(--gray);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 1px 1px var(--gray-dark);
}

.input_div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input {
  border: 0;
  padding: 10px;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  border-bottom: 3px solid var(--gray-dark);
  transition: var(--default-transition);
}

.input:focus {
  border-color: var(--red-2);
}

.center {
  text-align: center;
}

.center > button {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .auth_form {
    align-content: center;
  }

  .title {
    font-size: 20px;
  }

  .form {
    gap: 20px;
    padding: 20px;
    width: 100%;
  }
}
