.button {
  color: white;
  border: 0;
  background-color: var(--red-2);
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  transition: var(--default-transition);
  text-transform: capitalize;
}

.button:hover {
  color: white;
  background-color: var(--red-3);
}

.button:active {
  transform: scale(95%);
}
