.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 30px;
}

.title {
  color: var(--black);
  margin-bottom: 20px;
}

.questions {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
}

.options {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.options > button {
  height: 44px;
}
