.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 36px;
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
  overflow-y: auto;
}

.options_div {
  margin-top: 30px;
}

.options {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.options > button {
  height: 44px;
}

.error {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.error > p {
  font-weight: bold;
  font-size: 20px;
}
