.container > nav {
  position: sticky;
  inset: 0;
  z-index: 10;
}

.question_form {
  padding: 30px;
  color: var(--black);
  width: calc(100vw - 300px);
}

.question_input {
  background-color: var(--gray);
  padding: 20px;
  margin: 20px 0;
  border-radius: 6px;
  border-bottom: 4px solid var(--red-2);
  box-shadow: 0 0 1px 1px var(--gray-dark);
}

.question_text {
  word-break: break-all;
  font-size: 24px;
  font-weight: bold;
}

.answer_inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin: 12px 0;
}

.answer_input > label {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
  background-color: var(--white);
  border-radius: 4px;
}

.answer_text {
  word-break: break-all;
  font-size: 20px;
  height: 100%;
  padding: 10px;
}

.radio_input {
  height: 100%;
  min-width: 50px;
  border: 1px solid var(--gray-dark);
  background-color: var(--gray-light);
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  display: grid;
  place-content: center;
}

.radio_input > input {
  flex-shrink: 0;
}

.quiz_progress {
  height: calc(100vh - 70px);
  position: fixed;
  padding: 12px;
  right: 0;
  top: 70px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
  background-color: var(--gray);
  transform: translateX(300px);
  transition: var(--default-transition);
}

.quiz_progress_visible {
  transform: none;
}

.toggle_quiz_progress {
  border: none;
  position: absolute;
  top: 8px;
  height: 34px;
  width: 34px;
  left: -34px;
  background-color: var(--red-2);
  color: white;
  padding: 10px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  display: grid;
  cursor: pointer;
  place-content: center;
  transition: var(--default-transition);
}

.toggle_quiz_progress:hover {
  background-color: var(--red-3);
}

.toggled svg {
  transform: rotate(180deg);
}

.progress {
  overflow-y: auto;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 10px;
  background-color: var(--white);
  padding: 10px;
  border-radius: 4px;
}

.question_progress {
  font-size: 20px;
  height: 36px;
  width: 36px;
  display: grid;
  place-content: center;
  margin: 0 auto;
  color: white;
  border-radius: 9999px;
  background-color: var(--gray-dark);
}

.question_progress_attempted {
  background-color: var(--red-2);
}

.options {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .question_form {
    width: 100vw;
  }

  .answer_inputs {
    grid-template-columns: repeat(1, 1fr);
  }

  .quiz_progress {
    padding: 12px 24px;
    height: 38vh;
    width: 100vw;
    transform: translateX(0);
    transform: translateY(-100%);
  }

  .quiz_progress_visible {
    transform: translateY(0);
  }

  .toggle_quiz_progress {
    top: 100%;
    left: 24px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 4px;
  }

  .toggle_quiz_progress > svg {
    transform: rotate(-90deg);
  }

  .toggled svg {
    transform: rotate(90deg);
  }

  .progress {
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  }
}
