.container {
  padding: 40px;
  height: calc(100vh - 70px);
  display: flex;
  gap: 20px;
}

.form {
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 4px;
}

.title {
  font-size: 30px;
  color: var(--black);
  margin-bottom: 10px;
}

.divider {
  height: 100%;
  width: 1px;
  border: 2px dashed var(--red-2);
}

.quizzes {
  width: 100%;
  padding: 20px;
  background-color: var(--white);
  border-radius: 4px;
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .title {
    font-size: 26px;
  }

  .divider {
    width: 100%;
    height: 1px;
  }
}
