.container > nav {
  position: sticky;
  inset: 0;
  z-index: 50;
}

.question_form {
  padding: 30px;
  color: var(--black);
}

.question_input {
  background-color: var(--gray);
  padding: 20px;
  margin: 20px 0;
  border-radius: 4px;
}

.question_text {
  word-break: break-all;
  font-size: 20px;
  font-weight: bold;
}

.answer_input > label {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--white);
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
}

.answer_input > label > span {
  word-break: break-all;
}

.answer_input > label > input {
  flex-shrink: 0;
}
