.container {
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 2rem;
}

.questions_container {
  width: 100%;
}

.button_parent {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media screen and (min-width: 769px) {
  .container {
    width: 75%;
  }
}
