.question_input {
  display: flex;
  flex-direction: column;
  background-color: var(--gray);
  border-radius: 4px;
  padding: 20px;
}

.input_div {
  display: flex;
  flex-direction: column;
}

.input_div > input {
  border: 0;
  background-color: white;
  border: 2px solid var(--gray-dark);
  padding: 10px;
  border-radius: 4px;
  font-size: 20px;
  transition: var(--default-transition);
  outline: none;
}

.input_div > input:focus {
  border-color: var(--red-2);
  background-color: white;
}

.question_input_div {
  position: relative;
}

.question_input_div > input {
  padding: 14px;
  margin-top: 10px;
}

.question_input_div > span {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
  color: var(--black);
}

.question_remove_button {
  position: absolute;
  right: 0;
}

.question_remove_button > button {
  height: 33px;
  width: 33px;
  font-size: 33px;
  display: grid;
  place-content: center;
}

.answer_input_div {
  position: relative;
}

.answer_input_div > input {
  padding-left: 40px;
}

.answer_input_div > span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--red-2);
  color: white;
  font-size: 20px;
  width: 30px;
  height: 100%;
  display: grid;
  place-content: center;
  border-radius: 4px;
}

.answer_input_div > input:hover ~ .choice_remove_button {
  visibility: visible;
}

.choice_remove_button:hover {
  visibility: visible;
}

.choice_remove_button {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.choice_remove_button > button {
  font-size: 25px;
  height: 25px;
  width: 25px;
  display: grid;
  place-content: center;
}

.answers {
  display: grid;
  margin: 20px 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.options {
  display: flex;
  justify-content: space-between;
}

.correct_answer_input_div > input {
  width: 180px;
  font-size: 18px;
  padding: 6px;
  background-color: white;
  border: 2px solid var(--gray-dark);
  border-radius: 4px;
  outline: none;
}

@media screen and (max-width: 480px) {
  .answers {
    display: flex;
    flex-direction: column;
  }
}
