.container {
  display: flex;
  flex-direction: column;
  padding: 36px;
  flex-grow: 1;
}

.title {
  color: var(--black);
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (min-width: 481px) {
  .container {
    width: calc(100vw - 400px);
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 28px;
  }
}
