:root {
  --black: #18181b;
  --red-1: #fb7185;
  --red-2: #f43f5e;
  --red-3: #e11d48;
  --white: #f0f0f0;
  --gray: #e5e5e5;
  --gray-dark: #c1c1c1;
  --round-border: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
